.sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px; /* Początkowa szerokość */
    height: auto;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 1000;
    background-color: #3e434d;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    flex-direction: row; /* Ustawienie poziome */
    justify-content: flex-start;
    padding: 10px;
}

.sidebar:hover {
    width: 300px; /* Większa szerokość po najechaniu */
}

.sidebar .sidebar-tab {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .content {
    opacity: 0;
    transition: opacity 0.3s ease;
    padding-left: 15px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar:hover .content {
    opacity: 1;
}